.header{
  display: flex;
  justify-content: center;
}
.position{
  display: grid;
  grid-template-columns:auto auto auto auto;
  grid-gap: 1em;
  grid-auto-rows: 70px;
  width: 500px; 
  margin-top: 100px;
  margin-left: 35%;
}
.item{
border: 2px green solid; 
}
.bay{
  
}
