:root {
  --favColor: red;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header{
  display: flex;
  justify-content: center;
}

.position{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 1em;
  width: 500px;
  margin: auto;
  grid-auto-rows: 70px;
  margin-top: 100px;
  justify-items: center;
  align-items: center;
}
.position img{
 
  height: 50px;
  position: relative;
  top: 20px;
  left: 20px;
}

.card{
  border: 2px green solid;
  height: 100px;
  width: 100px;
}
.card img{ 
  height: 50px;
  
}
.red{
  border: 2px red solid;
}

